extends base.pug

block mainly
    .wannaBeer
        .wannaBeer__layout
            .wannaBeer__layout_right
                img.wannaBeer__img(src="images/hero/bg.png", alt="WannaBeer")
            .wannaBeer__layout_left
                p.wannaBeer__logo WannaBeer!
                h1.wannaBeer__title Сервис, который случайно выбирает новый вариант пива, показывая все достоинства выбранного варианта
                .wannaBeer__beer
                button.wannaBeer__btn Хочу пиво!